<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Create User</title>
</head>
<body>

<h1>Create User</h1>
<form th:action="@{/admin/create}" th:object="${userForm}" method="POST">
  <label for="username">UserName: </label>
  <input type="text" id="username" th:field="*{username}" required>
  <br>
  <label for="password">Password: </label>
  <input type="password" id="password" th:field="*{password}" required>
  <br>
  <label for="role">Role: </label>
  <select id="role" th:field="*{role}" required>
    <option value="user">User</option>
    <option value="admin">Admin</option>
  </select>
  <br><br>
  <button type="submit">Create</button>
</form>

</body>
</html>
