<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"><head>
    <meta charset="UTF-8">
    <title>HOME PAGE</title>
</head>
<body>

<a href="/register">Register</a>
<a href="/login">Log in</a>
<a href="/portfolio">Portfolyo</a>
<div>
<p>Welcome, <span th:text="${username}"></span></p>
<a href="/login" >Çıkış Yap</a>
</div>
<a href="/users">User List</a>
<p th:if="${balance != null}">
    Hoş geldiniz, <span th:text="${username}"></span>. Bakiyeniz: <span th:text="${balance}"></span>
</p>

<h1>Hisse Senedi Bilgileri</h1>
<table>
    <thead>
    <tr>
        <th>Hisse Kodu</th>
        <th>Hisse Adı</th>
        <th>Aktif</th>
        <th>Fiyat</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="stock : ${stocks}">
        <tr>
            <td th:text="${stock.stockSymbol}"></td>
            <td th:text="${stock.stockName}"></td>
            <td th:text="${stock.stockType}"></td>
        </tr>
    </th:block>
    </tbody>
</table>
</body>
</html>