<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HOME PAGE</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <div class="mb-3">
        <a class="btn btn-primary" href="/register">Register</a>
        <a class="btn btn-secondary" href="/login">Log in</a>
        <a class="btn btn-info" href="/portfolio">Portfolyo</a>
        <a class="btn btn-warning" href="/useBalanceCard">Balance Card</a>
        <a class="btn btn-danger" href="/showAlarms">Alarms</a>
    </div>
    <div>
        <p>Welcome, <span th:text="${username}"></span></p>
        <form th:action="@{/logout}" method="POST" style="display:inline;">
            <button type="submit" class="btn btn-outline-danger">Logout</button>
        </form>
    </div>
    <div th:if="${#authorization.expression('hasRole(''admin'')')}">
        <a class="btn btn-success mt-2" href="/admin/users">Admin Panel</a>
    </div>
    <p th:if="${balance != null}">
        Welcome , <span th:text="${username}"></span>. Balance: <span th:text="${balance}"></span>
    </p>

    <h1 class="mt-4">Stocks</h1>
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th>Stock Symbol</th>
            <th>Stock Name</th>
            <th>Price</th>
            <th>Amount</th>
            <th>Status</th>
            <th>Transactions</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="stock : ${stocks}">
            <tr th:id="${stock.stockSymbol}">
                <td th:text="${stock.stockSymbol}"></td>
                <td th:text="${stock.stockName}"></td>
                <td class="currentPrice" th:text="${stock.currentPrice}"></td>
                <td th:text="${stock.stockQuantity}"></td>
                <td th:text="${stock.stockActive ? 'Active' : 'Passive'}"></td>
                <td>
                    <form th:action="@{/buy/{id}(id=${stock.stockId})}" method="POST" style="display:inline;">
                        <input type="hidden" name="stockId" th:value="${stock.stockId}" />
                        <input type="number" name="quantity" placeholder="Quantity" required>
                        <input type="hidden" name="userName" th:value="${username}">
                        <button type="submit" class="btn btn-success btn-sm">Purchase</button>
                    </form>
                    <form th:action="@{/createAlert}" method="POST" style="display:inline;">
                        <input type="hidden" name="stockSymbol" th:value="${stock.stockSymbol}" />
                        <input type="number" step="0.01" name="priceLimit" placeholder="Price Limit" required>
                        <button type="submit" class="btn btn-warning btn-sm">Alarm Kur</button>
                    </form>
                    <a class="btn btn-info btn-sm" th:href="@{/history/{id}(id=${stock.stockId})}">Price History</a>
                    <div th:if="${#authorization.expression('hasRole(''admin'')')}">
                        <a class="btn btn-secondary btn-sm" th:href="@{/admin/updateStockStatus/{stockId}(stockId=${stock.stockId})}">Düzenle</a>
                    </div>
                </td>
            </tr>

        </th:block>
        </tbody>
    </table>
</div>

<script>
    if (!window.eventSource) {
        window.eventSource = new EventSource('/sse/connect');
    }

    const eventSource = window.eventSource;

    eventSource.addEventListener('stockUpdate', function(event) {
        const data = JSON.parse(event.data);

        const stockSymbol = data.stockSymbol.trim().toLowerCase();

        const stockRow = document.getElementById(`${stockSymbol}`);
        if (stockRow) {
            stockRow.querySelector('.currentPrice').textContent = data.currentPrice; // Fiyatı güncelle
        } else {
            console.warn(`Stock row not found for Symbol: ${stockSymbol}`);
        }
    });



    eventSource.onerror = function() {
        console.error("SSE connection error. Retrying in 5 seconds...");
        setTimeout(function() {
            window.eventSource = new EventSource('/sse/connect');
        }, 5000);
    };
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.0/stomp.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.0/sockjs.min.js"></script>

<script>
    debugger
    var socket = new SockJS('/ws');
    var stompClient = Stomp.over(socket);

    stompClient.connect({}, function (frame) {
        console.log('Connected: ' + frame);

        stompClient.subscribe('/topic/notifications', function (notification) {
            const message = notification.body;
            console.log("Notification: " + message);

            // Bildirimi bir popup olarak göster
            alert(message);
        });


    }, function (error) {
        console.error("WebSocket error:", error);
        setTimeout(function () {
            window.location.reload();
        }, 5000);
    });

</script>

</body>
</html>
