<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HOME PAGE</title>
</head>
<body>

<a href="/register">Register</a>
<a href="/login">Log in</a>
<a href="/portfolio">Portfolyo</a>
<a href="/useBalanceCard">Balance Card</a>
<div>
    <p>Welcome, <span th:text="${username}"></span></p>
    <form th:action="@{/logout}" method="post">
        <button type="submit">Çıkış Yap</button>
    </form>
</div>
<div th:if="${#authorization.expression('hasRole(''admin'')')}">
<a href="/users">User List</a>
</div>
<p th:if="${balance != null}">
    Hoş geldiniz, <span th:text="${username}"></span>. Bakiyeniz: <span th:text="${balance}"></span>
</p>

<h1>Hisse Senedi Bilgileri</h1>
<table>
    <thead>
    <tr>
        <th>Hisse Kodu</th>
        <th>Hisse Adı</th>
        <th>Fiyat</th>
        <th>Adet</th>
        <th>Aktif</th>
        <th>İşlemler</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="stock : ${stocks}">
        <tr>
            <td th:text="${stock.stockSymbol}"></td>
            <td th:text="${stock.stockName}"></td>
            <td th:text="${stock.currentPrice}"></td>
            <td th:text="${stock.stockQuantity}"></td>
            <td th:text="${stock.stockActive ? 'Aktif' : 'Pasif'}"></td>
            <td>
                <a th:href="@{/history/{id}(id=${stock.stockId})}">Fiyat Geçmişi</a>
            </td>
            <td>
            <form th:action="@{/buy/{id}(id=${stock.stockId})}" method="POST" style="display:inline;">
                <input type="hidden" name="stockId" th:value="${stock.stockId}" />
                <input type="number" name="quantity" placeholder="Adet" required>
                <input type="hidden" name="userName" th:value="${username}">
                <button type="submit">Satın Al</button>
            </form>
            </td>
                <div th:if="${#authorization.expression('hasRole(''admin'')')}">
            <td>
                <a th:href="@{/updateStockStatus/{stockId}(stockId=${stock.stockId})}">Düzenle</a>
            </td>
            </div>
        </tr>
    </th:block>
    </tbody>
</table>
</body>
</html>
