<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
    <style>
        .failed {
            color: red;
        }
    </style>

</head>
<body>
<h1>Sign In</h1>

<form action="#" th:action="@{/authenticateUser}" method="POST">
    <div th:if="${error}">

        <i class="failed">You entered invalid username/password.</i>

    </div>
   <div>
    <input type="text" placeholder="username" name="username" required>
   </div>
    <br>
    <div>
        <input type="text" placeholder="password" name="password" required>
    </div>
    <br>
    <button type="submit">Login</button>

</form>

</body>
</html>
