<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Portfolio</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <meta http-equiv="refresh" content="61">
</head>
<body>
<div class="container mt-5">
  <h1>Welcome, <span th:text="${username}"></span>!</h1>
  <h2>Portfolio</h2>

  <table class="table">
    <thead class="thead-light">
    <tr>
      <th>Stock Symbol</th>
      <th>Stock Name</th>
      <th>Price</th>
      <th>Amount</th>
      <th>Total Cost</th>
      <th>Profit</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="portfolio : ${portfolioList}">
      <td th:text="${portfolio.stock != null ? portfolio.stock.stockSymbol : 'Stock Code Not Found !'}"></td>
      <td th:text="${portfolio.stock != null ? portfolio.stock.stockName : 'Stock Name Not Found !'}"></td>
      <td th:text="${portfolio.stock != null ? portfolio.stock.currentPrice : 'Stock Price Not Found !'}"></td>
      <td th:text="${portfolio.quantity}"></td>
      <td th:text="${portfolio.cost != null ? portfolio.cost : 'No Cost Value'}"></td>
      <td th:if="${portfolio.profit != null}"
          th:text="${portfolio.profit}"
          th:classappend="${portfolio.profit.signum() < 0 ? 'text-danger' : 'text-success'}">
      </td>
      <td th:if="${portfolio.profit == null}">
        No Data
      </td>


      <td>
        <div th:if="${portfolio.stock != null}">
          <form th:action="@{/sell/{id}(id=${portfolio.stock.stockId})}" method="POST" style="display:inline;">
            <input type="hidden" name="stockId" th:value="${portfolio.stock.stockId}" />
            <input type="number" name="quantity" placeholder="Quantity" required>
            <input type="hidden" name="userName" th:value="${username}">
            <button type="submit" class="btn btn-danger btn-sm">Sell</button>
          </form>
        </div>
        <div th:if="${portfolio.stock == null}">
          <span>Can not be sold</span>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
  <a class="btn btn-link" href="/transactionHistory">Transaction History</a>
  <a class="btn btn-link" href="/home">Home Page</a>
</div>
</body>
</html>
