<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Portfolio</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<h1>Hoşgeldin, <span th:text="${username}"></span>!</h1>
<h2>Portföyünüz</h2>

<table>
  <thead>
  <tr>
    <th>Hisse Kodu</th>
    <th>Hisse Adı</th>
    <th>Anlık Fiyat</th>
    <th>Miktar</th>
    <th>İşlemler</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="portfolio : ${portfolioList}">
    <td th:text="${portfolio.stock != null ? portfolio.stock.stockSymbol: 'Hisse kodu bulunamadı'}"></td>
    <td th:text="${portfolio.stock != null ? portfolio.stock.stockName : 'Hisse Adı Bulunamadı'}"></td>
    <td th:text="${portfolio.stock != null ? portfolio.stock.currentPrice : 'Hisse Fiyatı Bulunamadı'}"></td>
    <td th:text="${portfolio.quantity}"></td>
    <td>
      <div th:if="${portfolio.stock != null}">
        <form th:action="@{/sell/{id}(id=${portfolio.stock.stockId})}" method="POST" style="display:inline;">
          <input type="hidden" name="stockId" th:value="${portfolio.stock.stockId}" />
          <input type="number" name="quantity" placeholder="Adet" required>
          <input type="hidden" name="userName" th:value="${username}">
          <button type="submit">Sat</button>
        </form>
      </div>
      <div th:if="${portfolio.stock == null}">
        <span>Satış yapılamaz</span>
      </div>
    </td>
  </tr>
  </tbody>
</table>
<a href="/home">Ana Sayfaya Dön</a>
</body>
</html>
