<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hisse Düzenle</title>
</head>
<body>
<h1>Hisse Düzenle</h1>
<form th:action="@{/updateStockStatus}" method="post">
    <input type="hidden" th:name="stockId" th:value="${stock.stockId}"/>

    <label>Hisse Kodu: <span th:text="${stock.stockSymbol}"></span></label><br/>
    <label>Hisse Adı: <span th:text="${stock.stockName}"></span></label><br/>

    <label>Durum:</label>
    <select name="isActive">
        <option th:value="true" th:text="'Aktif'" th:selected="${stock.stockActive}">Aktif</option>
        <option th:value="false" th:text="'Pasif'" th:selected="${!stock.stockActive}">Pasif</option>
    </select><br/>

    <label>Adet:</label>
    <input type="number" th:name="quantity" th:value="${stock.stockQuantity}" min="0"/><br/>

    <button type="submit">Güncelle</button>
</form>
</body>
</html>
