<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Stock</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1>Update Stock</h1>
    <form th:action="@{/admin/updateStockStatus}" method="post">
        <input type="hidden" th:name="stockId" th:value="${stock.stockId}"/>

        <div class="form-group">
            <label>Stock Symbol: <span th:text="${stock.stockSymbol}"></span></label><br/>
            <label>Stock Name: <span th:text="${stock.stockName}"></span></label><br/>
        </div>

        <div class="form-group">
            <label>Status:</label>
            <select name="isActive" class="form-control">
                <option th:value="true" th:text="'Aktif'" th:selected="${stock.stockActive}">Active</option>
                <option th:value="false" th:text="'Pasif'" th:selected="${!stock.stockActive}">Passive</option>
            </select>
        </div>

        <div class="form-group">
            <label>Quantity:</label>
            <input type="number" class="form-control" th:name="quantity" th:value="${stock.stockQuantity}" min="0"/>
        </div>

        <button type="submit" class="btn btn-primary">Update</button>
    </form>
</div>
</body>
</html>
