<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Update Balance</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
  <h2>Update Balance: <span th:text="${balance.user.username}"></span></h2>
  <form th:action="@{/admin/updateBalance}" method="post">
    <input type="hidden" name="userId" th:value="${balance.user.user_id}"/>
    <div class="form-group">
      <label for="amount">Yeni Bakiye: </label>
      <input type="number" class="form-control" name="newAmount" id="amount" th:value="${balance.amount}" required/>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
  </form>
  <a class="btn btn-link" th:href="@{/admin/users}">User List</a>
</div>
</body>
</html>
