<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Update Comission Rate</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
  <h3>Update Comission Rate</h3>
  <form th:action="@{/admin/updateComissionRate}" method="POST">
    <div class="form-group">
      <label for="commissionRate">New Comission Rate (Example : %50 = 0.5):</label>
      <input type="number" class="form-control" step="0.01" id="commissionRate" name="newRate" th:value="${commissionRate}" required/>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
  </form>
  <a class="btn btn-link" href="/admin/users">Go Back</a>
</div>
</body>
</html>
